* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

header {
    text-align: center;
}

header {
    text-align: center;
    color: white;
    width: 40%;
    margin-left: 30%;
}

.logo {
    margin-top: 3%;
}

h1 {
    margin-top: 20px;
    font-weight: 900;
    font-size: 50px;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

form, input{
    text-align: center;
}

.container1, .container2{
    width: 100%;
    padding: 4px;
    text-align: left;
    margin-top: 10px;
} 

form {
    width: 40%;
    margin-left: 30%;
}



form input:last-child, label {
    color: white;
}

.container2, .container1{
    text-align: left;
    border-radius: 7px;    
}

a {
    background-color: rgb(0, 110, 255);
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    display: block;
    border-radius: 10px;
}